extends layout 

block content 
    form(id='form' method='post' action='/create' class='content')
        label(for='name') Username: 
        input(type="text", name="username")
        br
        label(for="age") Password: 
        input(type="text", name="password")
        br
        label(for='name') Email: 
        input(type="text", name="email")
        br
        label(for='name') Age: 
        input(type="text", name="age")
        br
        label(for='name') Are Professor Beaty's participation quizzes funny? 
        select(name='question1')
            option(value='Yes') Yes
            option(value='No') No
            option(value='Possibly') Possibly
            option(value='Absolutely not') Absolutely not
        br

        label(for='name') What is your favorite color? 
        select(name='question2')
            option(value='Green') Green
            option(value=`It's Green!`) It's Green!
            option(value=`Definately not a color that isn't green`) `Definately not a color that isn't green`
            option(value=`I thought it was something different but it's green`) `I thought it was something different but it's green`
        br

        label(for='name') Are taxes bad? 
        select(name='question3')
            option(value='Yes') Yes
            option(value='No') No 
            option(value='They are theft') They are theft
            option(value='Do to the IRS, I am obligated to say no') Do to the IRS, I am obligated to say no
        br
        br
        input(type="submit" value="Add Person")
