extends layout 

block content 
    form(id='form' method='post' action=`/edit/${person._id}`)
        label(for='name') Username: 
        input(type="text", name="username" value=person.username)
        br
        label(for="password") Password: 
        input(type="text", name="password") 
        br
        label(for='email') Email: 
        input(type="text", name="email" value=person.email) 
        br
        label(for='age') Age: 
        input(type="text", name="age" value=person.age) 
        br
        label(for='question1') Are Professor Beaty's participation quizzes funny? 
        select(name='question1')
            option(value='Yes') Yes
            option(value='No') No
            option(value='Possibly') Possibly
            option(value='Absolutely not') Absolutely not
        br

        label(for='question2') What is your favorite color? 
        select(name='question2')
            option(value='Green') Green
            option(value=`It's Green!`) It's Green!
            option(value=`Definately not a color that isn't green`) `Definately not a color that isn't green`
            option(value=`I thought it was something different but it's green`) `I thought it was something different but it's green`
        br

        label(for='question3') Are taxes bad? 
        select(name='question3')
            option(value='Yes') Yes
            option(value='No') No 
            option(value='They are theft') They are theft
            option(value='Due to the IRS, I am obligated to say no') Due to the IRS, I am obligated to say no
        br
        br
        input(type="submit" value="Update Person")
    
    form(action="/logout") 
        input(type="submit" value="Log Out")

    form(action="/account") 
        input(type="submit" value="Admin or Delete")