extends layout

block content 
    form(method='POST' action='/')
            p Username:
                br
                input(type="text" name='username')
            p Password:
                br
                input(type="text" name='password')
            p 
                input(type='submit' value="Log in")

    form(action="/create" Method='POST')
        p 
            input(type="submit" onclick="/create" value="Create")
    div(id="cookie") test